@import 'styles/variables';

.button {
  background-color: $colorPrimary;
  padding: 0.75rem 1.25em;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: $white;

  &:hover {
    background-color: $colorPrimaryLighter;
  }

  &:disabled {
    background-color: $spanishGray;
    color: $brightGray;
    cursor: not-allowed;
  }
}
