@import 'styles/mixins/breakpoints';

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;

  @include respond-from(m) {
    max-width: 60%;
  }

  .picture-date {
    margin: 0;
  }

  .spinner-container {
    height: 60vmin;
    display: flex;
    align-items: center;
  }

  .action-btn {
    width: 6rem;
    height: 2.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picture-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picture-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .picture-description {
    font-size: 0.9rem;
    text-align: justify;
  }
}
