$bahamaBlue: #005b96;
$veniceBlue: #064785;

$white: #ffffff;
$brightGray: #eeeeee;
$spanishGray: #999999;
$darkGray: #282c34;

$colorPrimary: $veniceBlue;
$colorPrimaryLighter: $bahamaBlue;
$colorBackground: $darkGray;
