.astronomy-picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .picture {
    height: 60vmin;
    object-fit: contain;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .description {
    font-size: 0.9rem;
    text-align: justify;
  }
}
